@font-face {
  font-display: swap;
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/LINESeedJP_OTF_Th.woff2') format('woff2'),
       url('/fonts/LINESeedJP_OTF_Th.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LINESeedJP_OTF_Rg.woff2') format('woff2'),
       url('/fonts/LINESeedJP_OTF_Rg.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/LINESeedJP_OTF_Bd.woff2') format('woff2'),
       url('/fonts/LINESeedJP_OTF_Bd.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/LINESeedJP_OTF_Eb.woff2') format('woff2'),
       url('/fonts/LINESeedJP_OTF_Eb.woff') format('woff');
}
